# This file originally from http://httpd.apache.org/docs/2.0/mod/mod_deflate.html
# Therefore it's fitted for apache v2.0
# TODO : if possible make this file also compatible with apache v1.3.x

# far away expiration and cache control (10 years / 480 weeks)
ExpiresDefault "access plus 10 years"

# CACHED FOREVER (@see http://www.askapache.com/htaccess/apache-speed-cache-control.html)
Header set Cache-Control "public"
Header set Expires "Thu, 15 Apr 2020 20:00:00 GMT"
Header unset Last-Modified

# Insert filter
<IfModule mod_deflate.c>
SetOutputFilter DEFLATE
</IfModule>



# Netscape 4.x has some problems...
BrowserMatch ^Mozilla/4 gzip-only-text/html

# Netscape 4.06-4.08 have some more problems
BrowserMatch ^Mozilla/4\.0[678] no-gzip

# MSIE masquerades as Netscape, but it is fine
# BrowserMatch \bMSIE !no-gzip !gzip-only-text/html

# NOTE: Due to a bug in mod_setenvif up to Apache 2.0.48
# the above regex won't work. You can use the following
# workaround to get the desired effect:
BrowserMatch \bMSI[E] !no-gzip !gzip-only-text/html

# Make sure proxies don't deliver the wrong content
Header append Vary User-Agent env=!dont-vary